@import "tailwindcss";

@theme {
  --color-bg-primary: #131517; /* Fondo principal (primario) */
  --color-bg-secondary: #1a1c20; /* Fondo secundario */
  --color-surface: #2d2f33; /* Elemento seleccionable */
  --color-surface-hover: #3f4148; /* Hover del elemento seleccionable */

  --color-bg-column: #1e2025; /* Hover del elemento seleccionable */

  --color-action: #bb368c; /* Botón de acción */
  --color-action-hover: #f23ab1; /* Hover del botón de acción */
}

body {
  font-family: var(--font-poppins), "Helvetica", "Arial", sans-serif;
  background-color: #131517;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-action rounded-xl;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}